<button
  type="button"
  class="btn btn-primary add-student"
  (click)="openModal('new')"
>
  Add Student
</button>

<form>
  <div class="form-group form-inline">
    Search Student
    <input
      class="form-control ml-2"
      type="text"
      name="searchTerm"
      [(ngModel)]="service.searchTerm"
    />
    <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students$ | async">
        <th scope="row">{{ student.id }}</th>
        <td>
          <ngb-highlight
            [result]="student.name"
            [term]="service.searchTerm"
            (click)="selectStudent(student)"
          ></ngb-highlight>
        </td>
        <td>
          <fa-icon [icon]="faTrash" (click)="deleteStudent(student)"></fa-icon>
        </td>
      </tr>
    </tbody>
  </table>

  <ngb-alert
    #selfClosingAlert
    *ngIf="successMessage"
    type="success"
    (closed)="successMessage = ''"
    >{{ successMessage }}
  </ngb-alert>

  <ngb-alert
    #deleteSelfClosingAlert
    *ngIf="deleteMessage"
    type="warning"
    (closed)="deleteMessage = ''"
    >{{ deleteMessage }}
  </ngb-alert>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!"
      [(page)]="service.page"
      [pageSize]="service.pageSize"
    >
    </ngb-pagination>
  </div>
</form>
